/* ------------------signup section------------------ */
.signUp {
    display: block;
}
.signup-card {
    background: var(--color-bg-section);
    padding: 2rem;
    width: 40rem;
    box-shadow: var(--shadow-md);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    margin: 10rem auto;
}
  
.signup-card h2 {
    text-align: center;
    color: var(--color-text-muted);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}
  
  /* Toggle button style */
  .toggle-password {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-btn-primary);
    font-size: 1.2rem;
    padding: 0;
  }
  
  .error-message {
    color: var(--color-error);
    font-size: 1.2rem;
    margin-top: 1.2rem;
    display: none;
  }
  .signUp-btn {
    width: 100%;
  }
.logIn-btn {
    margin-top: 1.5rem;
}
  .alternate {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--color-text-muted);
  }
  
  .alternate a {
    color: var(--color-text-main);
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
  }
  
  .alternate a:hover {
    text-decoration: underline;
  }

  /* ------------------------cashout index------------------------ */
.cashOut-section {
    display: none;
    padding-top: 5rem;
}
.cashOut-section .row  {
    padding-top: 0;
}
.cashOut-section .row form { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cashOut-section .col {
    width: 50%;
    padding: 2rem;
}
.col .account-box {
    width: 100%;
    padding: 1rem 0;
    border-bottom: .1rem solid var(--color-border);
}
.account-box .ac-title {
    font-size: 1.8rem;
    font-weight: var(--bold-font);
    color: var(--color-text-muted);
    text-transform: capitalize;
}
.account-box .ac-del-data-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    position: relative;
}
.ac-del-data-box label,
.ac-data-box label,
.ac-box-col label {
    width: 10rem;
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--color-text-main);
    text-transform: capitalize;
}
.ac-data-box label {
    width: 7rem;
}
.ac-del-data-box .ac-del-data-flex,
.ac-data-box .ac-del-data-flex,
.ac-box-col .ac-del-data-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}
.ac-det-data {
    width: 100%;
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--color-text-muted);
    font-family: var(--font-english);
    resize: none;
    overflow: hidden;
    text-wrap: nowrap;
    border: none;
    outline: none;
    background: transparent;
}
.ac-del-data-box .delet-ac-btn {
    font-size: 1.6rem;
    color: var(--color-text-main);
    position: absolute;
    top: 0;
    right: 2rem;
    &:hover {
        color: var(--color-error);
    }
}
.delivery-container {
    width: 100%;
    margin-top: 2rem;
}
.delivery-container .de-title,
.shipping-method-box .de-title,
.payment-box .de-title {
    font-size: 1.8rem;
    font-weight: var(--bold-font);
    color: var(--color-text-muted);
    text-transform: capitalize;
}
.delivery-box input,
.del-box input,
.delivery-box select {
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--color-text-main);
    padding: 1rem;
    outline-color: var(--color-btn-primary);
    border: .1rem solid var(--color-border);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.delivery-box label,
.del-box label {
    font-size: 1.4rem;
    font-weight: var(--light-font);
    color: var(--color-text-muted);
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}
#Thana option {
    display: none;
    text-transform: capitalize;
}
.delivery-box .del-box,
.payment .del-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .7rem;
    margin-top: 1.5rem;
}
.delivery-box .half {
    width: 48%;
}
.delivery-box .del-district-thana-box,
.delivery-box .del-posti-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.col .p-c-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 2rem;
    position: relative;
}
.p-c-img img {
    width: 15%;
    background: var(--color-bg-overlay);
    display: inline-block;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    border: .1rem solid var(--color-border);
}
.p-c-img .p-title-detail-box {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
}
.p-title-detail-box textarea {
    width: 100%;
    font-size: 1.8rem;
    color: var(--color-text-main);
    font-weight: var(--medium-font);
    font-family: var(--font-english);
    background: transparent;
    border: none;
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 0;
    &:nth-child(2) {
        font-size: 1.6rem;
        color: var(--color-text-muted);
    }
    &:nth-child(3) {
        font-size: 1.6rem;
        font-weight: var(--regular-font);
        color: var(--color-text-muted);
    }
}
.p-c-img .price {
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: var(--light-font);
    color: var(--color-text-main);
    font-family: var(--font-english);
    background: transparent;
    text-align: right;
    position: absolute;
    top: 1rem;
    right: 0;
    border: none;
    overflow: hidden;
    resize: none;
    outline: none;
}
/* .col .design-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
    border-bottom: .1rem solid var(--color-border);
    padding-bottom: 1.5rem;
}
.design-box label {
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: red;
    text-transform: capitalize;
}
.design-box #design {
    width: 50%;
    height: 2.5rem;
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--text-color);
    text-transform: capitalize;
    text-align: right;
    outline: none;
    resize: none;
    overflow: hidden;
    border: none;
    background: transparent;
    display: inline-block;
} */
.col .total-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 0;
    &:nth-child(4) {
        padding-top: 0;
        border-bottom: .1rem solid var(--color-border);
    }
}
.total-box label,
.total-box input {
    font-size: 1.6rem;
    font-weight: var(--light-font);
    color: var(--color-text-main);
    text-transform: capitalize;
    border: none;
    outline: none;
    background: transparent;
    text-align: right;
}
.total-box .total {
    font-weight: var(--bold-font);
}
.shipping-method-box {
    width: 100%;
    margin-top: 1.5rem;
}
.shipping-method-box .shipping-method{
    width: 100%;
    margin-top: 1rem;
}
.shipping-method .method-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.shipping-method .method-box input[type="radio"] {
    display: none;
}
.shipping-method .method-box label {
    width: 100%;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--color-text-main);
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    border: .1rem solid var(--color-border);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    position: relative;
    &::before {
        content: '\2713';
        font-size: 1.6rem;
        position: absolute;
        color: var(--color-text-mainr);
        display: none;
    }
}
.shipping-method .method-box label span:nth-child(1) {
    margin-left: 2rem;
}
.shipping-method .method-box input[type="radio"]:checked + label {
    background: var(--color-bg-muted);
}
.shipping-method .method-box input[type="radio"]:checked + label::before {
    display: block;
}
.payment-box {
    margin-top: 1.5rem;
}
.payment-box  .payment {
    width: 100%;
    margin-top: 1rem;
}
.payment .payment-method {
    width: 100%;
    &:nth-child(2) {
        margin-top: 1rem;
    } 
}
.payment .payment-method input {
    display: none;
}
.payment-method .full-pay-btn,
.payment-method .cod-pay-btn {
    width: 100%;
    height: 4rem;
    border: .1rem solid var(--color-border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: var(--medium-font);
    color: var(--color-text-main);
    cursor: pointer;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    position: relative;
    &::before {
        content: '\2713';
        font-size: 1.6rem;
        position: absolute;
        color: var(--color-text-main);
        display: none;
    }
    & span {
        margin-left: 2rem;
    }
}
.payment-method .full-pay-btn.active,
.payment-method .cod-pay-btn.active {
    background: var(--color-bg-muted);
    border-radius: .4rem .4rem 0 0;
    -webkit-border-radius: .4rem .4rem 0 0;
    -moz-border-radius: .4rem .4rem 0 0;
    -ms-border-radius: .4rem .4rem 0 0;
    -o-border-radius: .4rem .4rem 0 0;
}
.payment-method .full-pay-btn.active::before,
.payment-method .cod-pay-btn.active::before {
    display: block;
}
.payment-method .payment-qr {
    width: 100%;
    background: var(--color-bg-section);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: .1rem solid var(--color-border);
    border-top: none;
    border-radius: 0 0 .4rem .4rem;
    -webkit-border-radius: 0 0 .4rem .4rem;
    -moz-border-radius: 0 0 .4rem .4rem;
    -ms-border-radius: 0 0 .4rem .4rem;
    -o-border-radius: 0 0 .4rem .4rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, max-height 1s ease;
    -webkit-transition: opacity 1s ease, max-height 1s ease;
    -moz-transition: opacity 1s ease, max-height 1s ease;
    -ms-transition: opacity 1s ease, max-height 1s ease;
    -o-transition: opacity 1s ease, max-height 1s ease;
}
.payment-qr.active {
    padding: 2rem;
    opacity: 1;
    max-height: 50rem;
}
.payment-qr img {
    width: 15rem;
    height: 15rem;
    background: var(--color-brand-dark);
    display: inline-block;
}
.payment-qr .pay-this-payment {
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: var(--color-text-main);
    margin-top: 1rem;
}
.payment-qr .pay-this-payment a {
    color: var(--color-text-main);
}
.com-order-btn {
    margin-top: 2rem;
}
.com-order-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.loader {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: .2rem solid var(--color-bg-surface);
    border-top: 2px solid var(--color-btn-primary);
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
